<div class="container mt-2">
  <div class="col-12" *ngIf="(basket$ | async) == null">
    There are no Items in the basket
  </div>
  <div class="pb-5" *ngIf="basket$ | async">
    <div class="contaner">
      <div class="row">
        <div class="col-12 py-5 mb-1">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="border-0 bg-light" scope="col">Image</th>
                  <th class="border-0 bg-light" scope="col">Product</th>
                  <th class="border-0 bg-light" scope="col">Price</th>
                  <th class="border-0 bg-light" scope="col">Quantity</th>
                  <th class="border-0 bg-light" scope="col">Total</th>
                  <th class="border-0 bg-light" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of (basket$ | async).items">
                  <th scope="row">
                    <img
                      [src]="item.pictureUrl"
                      alt="{{ item.productName }}"
                      class="img-fluid"
                      style="max-height: 50px"
                    />
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="mb-0">
                        <a
                          routerLink="/shop/{{ item.id }}"
                          class="text-dark d-inline-block align-middle"
                          >{{ item.productName }}</a
                        >
                      </h5>
                      <span
                        class="text-muted font-weight-normal font-italic d-block"
                        >Type: {{ item.type }}</span
                      >
                    </div>
                  </th>
                  <td>{{ item.productName }}</td>
                  <td>{{ item.price }}</td>
                  <td>
                    <button
                      class="btn btn-sm btn-primary"
                      (click)="incrementItemQuantity(item)"
                    >
                      <i class="fa fa-plus"></i>
                    </button>
                    {{ item.quantity }}
                    <button
                      class="btn btn-sm btn-warning"
                      (click)="decrementItemQuantity(item)"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                  <td>
                    {{ item.price * item.quantity }}
                  </td>
                  <td>
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="removeFromBasket(item.id)"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-6">
            <app-order-total></app-order-total>
            <a routerLink="/feature/checkout" class="btn btn-primary btn-block mt-3">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
